        <div id="footer">
            <div id="network">
                <a href="https://github.com/Makraiyassin" target="_blanck"><i class="fab fa-github"></i></a>

                <a href="https://www.linkedin.com/in/yassin-makrai/" target="_blanck"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    
    <script src="https://kit.fontawesome.com/8eb2e9d886.js" crossorigin="anonymous"></script>
    <script src="public/js/translate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>