<!DOCTYPE html>
<html>

<head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="shortcut icon" href="public/images/dossier.png" type="image/x-icon">
    <link rel="stylesheet" href="public/css/style-v2.css">
</head>

<body data-spy="scroll" data-target=".navbar">

    <div id="CV">
        <nav class="navbar  navbar-expand-lg navbar-dark sticky-top">
            <div class="container-fluid">
                <a href="" id="translate" class="nav-link">FR</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About me</a></li>
                        <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
                        <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
                        <li class="nav-item"><a class="nav-link" href="#education">Education</a></li>
                        <li class="nav-item">
                            <a id="contact-me" class="nav-link" href="" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#portfolio" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://quiz-marvel-react.web.app/">Quiz Marvel</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://fernelmove.herokuapp.com">Fernelmove (Hackaton)</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://freshop-yassin.herokuapp.com">Webshop</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="http://nextflixx.rf.gd/login.php">Nextflix</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://makraiyassin.github.io/js-game-jam-team-5">Snake</a></li>
                                <li><a class="dropdown-item" target="_blank" href="https://todo-yassin.herokuapp.com">To
                                        do</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://makraiyassin.github.io/project-hangman/index.html">Hangman</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://makraiyassin.github.io/corona-challenge">Corona</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://makraiyassin.github.io/Bouman-Johnson-housing-project">Immo
                                        forecast</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://makraiyassin.github.io/API-Sprint">API dog</a></li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://comment-yassin.herokuapp.com/">Comment app</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" target="_blank"
                                        href="https://github.com/Makraiyassin?tab=repositories">Github</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/public/CV en 08-03-21.pdf" target="_blank" id="cvddl" class="nav-link" download>Download
                                my CV</a>
                        </li>
    
                    </ul>
                </div>
            </div>
        </nav>
    
        <section id="about" class="container-fluid">
            <div class="col-8 col-lg-4 profile-picture">
                <img src="/public/images//photo.jpg" alt="Yassin" class="rounded-circle">
            </div>
            <div class="heading">
                <h1>Yassin Makraï</h1>
                <h4>Junior web developer</h4>
                <a href="/public/CV en 08-03-21.pdf" target="_blank" class="button1">Download my CV</a>
            </div>
        </section>
    
        <section id="skills">
            <div class="container">
                <div class="bruin-div"></div>
                <div class="heading">
                    <h2>Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-6">
                        <span ID="icon" class="fas fa-laptop-code"></span>
                        <div class="skills-block">
                            <ul>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/html5-logo-png-transparent.png"></i>
                                    <h4>HTML</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/css3-logo-png-transparent.png"></i>
                                    <h4>CSS</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/javascript-logo-png-transparent.png"></i>
                                    <h4>Javascript</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/php-logo-png-transparent.png"></i>
                                    <h4>PHP</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/mysql-5-logo-png-transparent.png"></i>
                                    <h4>MySQL</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-6">
                        <span ID="icon" class="fas fa-laptop-code"></span>
                        <div class="skills-block">
                            <ul>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/bootstrap-4-logo-png-transparent.png"></i>
                                    <h4>Bootstrap</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/sass-1-logo-png-transparent.png"></i>
                                    <h4>Sass</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/git-logo-png-transparent.png"></i>
                                    <h4>Git</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/nodejs-1-logo-png-transparent.png"></i>
                                    <h4>Node.JS</h4>
                                </li>
                                <li id="skillsIcon">
                                    <i><img src="/public/images/logo-pyton.png"></i>
                                    <h4>Python</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
    
        <section id="experience">
            <div class="container">
                <div class="white-div"></div>
                <div class="heading">
                    <h2>Experience</h2>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge"><span class="fas fa-briefcase"></span></div>
                        <div class="timeline-panel-container">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Becode</h3>
                                    <h4>Junior web developer</h4>
                                    <p class="text-muted"><small class="fas fa-clock"></small>2020-2021</p>
                                </div>
                                <div class="timeline-body">
                                    <p>Front-end / back-end website and application development</p>
                                    <p>Participation in the "Hack your city 2021" event</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge"><span class="fas fa-briefcase"></span></div>
                        <div class="timeline-panel-container-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3>Geo</h3>
                                    <h4>Bus driver</h4>
                                    <p class="text-muted"><small class="fas fa-clock"></small>2015-2018</p>
                                </div>
                                <div class="timeline-body">
                                    <p>Transport of children / adults from home or from a stop to school (European School,BSB ...) / workplace (Audi, KBC ...)</p>
                                    <p>School trips and other outings (theater, swimming pool, zoo, ...)</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    
        <section id="education">
            <div class="container">
                <div class="bruin-div"></div>
                <div class="heading">
                    <h2>Education</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="education-block">
                            <h5>2019</h5>
                            <span class="fas fa-graduation-cap"></span>
                            <h3>English course<br> A2 level certificate acquired </h3>
                            <h5>CLL</h5>
                            <div class="bruin-div"></div>
                            <p>Brussels (Belgium)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="education-block">
                            <h5>2018-2019</h5>
                            <span class="fas fa-school"></span>
                            <h3>Learning the basics of web development</h3>
                            <h5>Self-taught</h5>
                            <div class="bruin-div"></div>
                            <p>Brussels (Belgium)</p>
                        </div>
                    </div>
    
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="education-block">
                            <h5>2014</h5>
                            <span class="fas fa-graduation-cap"></span>
                            <h3>Bus driver training - D license acquired</h3>
                            <h5>"Bruxelles Formation"</h5>
                            <div class="bruin-div"></div>
                            <p>Brussels (Belgium)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="education-block">
                            <h5>2013</h5>
                            <span class="fas fa-school"></span>
                            <h3>First year of bachelor's degree - Teacher in economics</h3>
                            <h5>ISPG</h5>
                            <div class="bruin-div"></div>
                            <p>Brussels (Belgium)</p>
                        </div>
                    </div>
    
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="education-block">
                            <h5>2012</h5>
                            <span class="fas fa-graduation-cap"></span>
                            <h3>CESS <br> acquired</h3>
                            <h5>ARAT</h5>
                            <div class="bruin-div"></div>
                            <p>Brussels (Belgium)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="education-block">
                            <h5>2012</h5>
                            <span class="fas fa-graduation-cap"></span>
                            <h3>Management certificate acquired</h3>
                            <h5>ARAT</h5>
                            <div class="bruin-div"></div>
                            <p>Brussels (Belgium)</p>
                        </div>
                    </div>
    
                </div>
    
            </div>
        </section>
    
        <section id="portfolio">
            <div class="container">
                <div class="white-div"></div>
                <div class="heading">
                    <h2>Portfolio</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://fernelmove.herokuapp.com/" target="_blank">
                            <img class="img-thumbnail" src="/public/images/Fernelmove-capture.png" alt="fernelmove">
                            <h4 class="portfolioText">Mobile website created as a team for 42 hours during an event</h4>
                        </a>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <a href="https://freshop-yassin.herokuapp.com/" target="_blank">
                            <img class="img-thumbnail" src="/public/images/fresh.png" alt="eshop">
                            <h4 class="portfolioText">E-shop made solo during my training at Becode </h4>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="http://nextflixx.rf.gd/" target="_blank">
                            <img class="img-thumbnail" src="/public/images/nextflix.png" alt="fernelmove">
                            <h4 class="portfolioText">Website inspired by Netflix made as a team during my training at Becode</h4>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="https://makraiyassin.github.io/js-game-jam-team-5" target="_blank">
                            <img class="img-thumbnail" src="/public/images/snake.png" alt="eshop">
                            <h4 class="portfolioText">Snake game to be made as a team during my training at Becode</h4>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    
        <!-- <section id="recommendation">
            <div class="container">
                <div class="red-divider"></div>
                <div class="heading">
                    <h2>Recommandation</h2>
                </div>
    
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% if(locals.recommend){%>
                            <%recommend.forEach(element=>{%>
                        <div class="carousel-item active">
                            <h3><%=element.name%></h3>
                            <h4><%=element.recommender%></h4>
                            <h5><%=element.recommend-me%></h5>       
                        </div>
                            <%})%> 
                        <%}%>
                        <div class="carousel-item active">
                            <h3>abcd</h3>
                            <h4>efgh</h4>
                            <h5>ijklmnop</h5>       
                        </div>
                        <div class="carousel-item">
                            <h3>abcd</h3>
                            <h4>efgh</h4>
                            <h5>ijklmnop</h5>       
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <section id="form">
            <form action="/recommend" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="name-recommend" id="recommender" required>
                    <label for="name-recommend">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="recommender" id="who">
                    <label for="recommender">Who are you? (example: "colleague of yassin at Becode in 2020")</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" name="recommendation" id="recommend-me" style="height: 100px" required></textarea>
                    <label for="recommend-me">Recommend me</label>
                </div>        
            </form>
        </section> -->
    
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">send a message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/msg">
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" name="name">
                                <label for="name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email" required>
                                <label for="email">Email address</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" name="message" id="message" style="height: 100px" required></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #b69d6f">Close</button>
                            <input type="submit" class="btn btn-primary" value="Send" style="background-color: #725217">
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/translate-v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>