<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">

    <title>Document</title>
</head>

<body>
    <nav class="navbar  navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="contact-me" class="nav-link" >Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Portfolio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://freshop-yassin.herokuapp.com">Webshop</a>
                            </li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="http://nextflixx.rf.gd/login.php">Nextflix</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://makraiyassin.github.io/js-game-jam-team-5">Snake</a></li>
                            <li><a class="dropdown-item" target="_blank" href="https://todoapp-y.herokuapp.com">To
                                    do</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://makraiyassin.github.io/project-hangman/index.html">Hangman</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://makraiyassin.github.io/corona-challenge">Corona</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://makraiyassin.github.io/Bouman-Johnson-housing-project">Immo
                                    forecast</a></li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://makraiyassin.github.io/API-Sprint">API
                                    dog</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" target="_blank"
                                    href="https://github.com/Makraiyassin?tab=repositories">Github</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a id="translate" class="nav-link" >FR</a>
                    </li>
                </ul>
                <!--
                <form class="d-flex">
                    <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
                -->
            </div>
        </div>
    </nav>

    <div id="cv">
        <div id="principal">
            <div id="divphoto">
                <img id="photo" src="public/images/photo.jpg" alt="photo">
            </div>
            <div id="contact">
                <h1>Contact</h1>
                <ul>
                    <li>Yassin Makraï Lamarti</li>
                    <li>Phone: 0486 11 36 97</li>
                    <li>Email: makrai.yassin@gmail.com</li>
                    <li>Chaussée de Ninove 762, 1070 Anderlecht</li>
                </ul>
            </div>
            <div id="language">
                <h1>Language</h1>
                <div id="divlanguage">
                    <ul>
                        <li>French</li>
                        <li>English</li>
                        <li>Dutch</li>
                        <li>Arabic</li>
                    </ul>
                    <ul>
                        <li><progress class="lvl" id="file" max="100" value="100" data-bs-toggle="tooltip"
                                data-bs-placement="right" title="C2"></progress></li>
                        <li><progress class="lvl" id="file" max="100" value="34" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="A2"></progress></li>
                        <li><progress class="lvl" id="file" max="100" value="17" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="A1"></progress></li>
                        <li><progress class="lvl" id="file" max="100" value="82" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="C1"></progress></li>
                    </ul>
                </div>
            </div>
            <div id="skills">
                <h1>Skills</h1>
                <ul>
                    <li><i><img src="public/images/html5-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/css3-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/javascript-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/php-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/mysql-5-logo-png-transparent.png"></i></li>
                </ul>
                <ul>
                    <li><i><img src="public/images/nodejs-1-logo-png-transparent.png"
                                style="height:40px;margin-top: 5px;"></i></li>
                    <li><i><img src="public/images/bootstrap-4-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/sass-1-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/git-logo-png-transparent.png"
                                style="height:30px;margin-top: 10px;"></i></li>
                    <li><i><img src="public/images/mongodb-logo-png-transparent.png"
                                style="height:20px;margin-top: 15px;"></i></li>
                </ul>
            </div>
            <div id="hobbies">
                <h1>Hobbies</h1>
                <ul>
                    <li><i class="fas fa-plane"></i></li>
                    <li><i class="fas fa-book-open"></i></li>
                    <li><i class="fas fa-swimmer"></i></li>
                    <li><i class="fas fa-biking"></i></li>
                    <li><i class="far fa-futbol"></i></li>
                    <li><i class="fas fa-chess-knight"></i></li>
                </ul>
            </div>
        </div>
        <div id="title">
            <h1>Yassin Makraï</h1>
            <h2>Junior Web developer</h2>
        </div>
        <div id="profile">
            <h1>Profile</h1>
            <p>I was born on 06/21/1992 in Brussels. I am married and I have a child. I am a pragmatic and organized
                person. I like working in a team and working alone doesn't bother me either. I am punctual, voluntary,
                flexible and I have a sense of responsibility. I am also motivated and I resist stress quite well.</p>
        </div>
        <div id="education">
            <h1>Education</h1>
            <ul>
                <li><i class="fa fa-graduation-cap"></i> C.E.S.S acquired at the A.R.A.T in Qualification technique -
                    Animation</li>
                <li><i class="fa fa-certificate"></i> Management certificate acquired at the A.R.A.T</li>
                <li><i class="fa fa-address-card-o"></i> driving license D (bus driver) acquired with "Brussels
                    Formation"</li>
                <br>
                <li><i class="fas fa-hourglass-half"></i> Web developer training in progress with Becode</li>
            </ul>
        </div>
        <div id="experience">
            <h1>Experience</h1>
            <ul>
                <li><i class="fas fa-broom"></i> Surface technician (at ISS and IRIS)</li>
                <li><i class="far fa-envelope"></i> Postman at Bpost</li>
                <li><i class="fas fa-bus"></i> Bus driver at Keolis</li>
                <li><i class="fas fa-bus"></i> Bus driver at GEO</li>
            </ul>
        </div>
        <div id="footer">

        </div>
    </div>
    <script src="https://kit.fontawesome.com/8eb2e9d886.js" crossorigin="anonymous"></script>
    <script src="../public/js/translate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>