
<%- include('header')%>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">send a message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/msg">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name">
                            <label for="name">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" required>
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" name="message" id="message" style="height: 100px" required></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #b69d6f">Close</button>
                        <input type="submit" class="btn btn-primary" value="Send" style="background-color: #725217">
                    </div>
                </form> 
            </div>
        </div>
    </div>
    
    <div id="cv">
        <div id="principal">
            <div id="divphoto">
                <img id="photo" src="public/images/photo.jpg" alt="photo">
            </div>
            <div id="contact">
                <h1>Contact</h1>
                <ul>
                    <li>Yassin Makraï Lamarti</li>
                    <li>Phone: 0486 11 36 97</li>
                    <li>Email: makrai.yassin@gmail.com</li>
                    <li>Chaussée de Ninove 762, 1070 Anderlecht</li>
                </ul>
            </div>
            <div id="language">
                <h1>Language</h1>
                <div id="divlanguage">
                    <ul>
                        <li>French</li>
                        <li>English</li>
                        <li>Dutch</li>
                        <li>Arabic</li>
                    </ul>
                    <ul>
                        <li><progress class="lvl" id="file" max="100" value="100" data-bs-toggle="tooltip"
                                data-bs-placement="right" title="C2"></progress></li>
                        <li><progress class="lvl" id="file" max="100" value="34" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="A2"></progress></li>
                        <li><progress class="lvl" id="file" max="100" value="17" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="A1"></progress></li>
                        <li><progress class="lvl" id="file" max="100" value="82" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="C1"></progress></li>
                    </ul>
                </div>
            </div>
            <div id="skills">
                <h1>Skills</h1>
                <ul>
                    <li><i><img src="public/images/html5-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/css3-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/javascript-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/php-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/mysql-5-logo-png-transparent.png"></i></li>
                </ul>
                <ul>
                    <li><i><img src="public/images/nodejs-1-logo-png-transparent.png"
                                style="height:40px;margin-top: 5px;"></i></li>
                    <li><i><img src="public/images/bootstrap-4-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/sass-1-logo-png-transparent.png"></i></li>
                    <li><i><img src="public/images/git-logo-png-transparent.png"
                                style="height:30px;margin-top: 10px;"></i></li>
                    <li><i><img src="public/images/mongodb-logo-png-transparent.png"
                                style="height:20px;margin-top: 15px;"></i></li>
                </ul>
            </div>
            <div id="hobbies">
                <h1>Hobbies</h1>
                <ul>
                    <li><i class="fas fa-plane"></i></li>
                    <li><i class="fas fa-book-open"></i></li>
                    <li><i class="fas fa-swimmer"></i></li>
                    <li><i class="fas fa-biking"></i></li>
                    <li><i class="far fa-futbol"></i></li>
                    <li><i class="fas fa-chess-knight"></i></li>
                </ul>
            </div>
        </div>
        <div id="title">
            <h1>Yassin Makraï</h1>
            <h2>Junior Web developer</h2>
        </div>
        <div id="profile">
            <h1>Profile</h1>
            <p>I was born on 06/21/1992 in Brussels. I am married and I have a child. I am a pragmatic and organized
                person. I like working in a team and working alone doesn't bother me either. I am punctual, voluntary,
                flexible and I have a sense of responsibility. I am also motivated and I resist stress quite well.</p>
        </div>
        <div id="education">
            <h1>Education</h1>
            <ul>
                <li><i class="fa fa-graduation-cap"></i> C.E.S.S acquired at the A.R.A.T in Qualification technique -
                    Animation</li>
                <li><i class="fa fa-certificate"></i> Management certificate acquired at the A.R.A.T</li>
                <li><i class="fa fa-address-card-o"></i> driving license D (bus driver) acquired with "Brussels
                    Formation"</li>
                <br>
                <li><i class="fas fa-hourglass-half"></i> Web developer training in progress with Becode</li>
            </ul>
        </div>
        <div id="experience">
            <h1>Experience</h1>
            <ul>
                <li><i class="fas fa-broom"></i> Surface technician (at ISS and IRIS)</li>
                <li><i class="far fa-envelope"></i> Postman at Bpost</li>
                <li><i class="fas fa-bus"></i> Bus driver at Keolis</li>
                <li><i class="fas fa-bus"></i> Bus driver at GEO</li>
            </ul>
        </div>
<%- include('footer')%>