body {
  background-color: #f6ecc5;
}

nav {
  background-color: #382400f2;
}

h1, h2 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
}

#contact-me, #translate:hover {
  cursor: pointer;
}

#cv {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
#cv #principal {
  grid-area: 1/1/6/4;
  background-color: #412503;
  display: grid;
  color: white;
}
#cv #principal #divphoto {
  grid-area: 1/1/2/4;
}
#cv #principal #divphoto #photo {
  margin: 2% 25%;
  width: 50%;
  border-radius: 50%;
}
#cv #principal #contact {
  grid-area: 2/1/3/4;
}
#cv #principal #language {
  grid-area: 3/1/4/4;
}
#cv #principal #language #divlanguage {
  display: flex;
}
#cv #principal #language #divlanguage progress {
  margin-left: 20%;
}
#cv #principal #skills {
  grid-area: 4/1/5/4;
}
#cv #principal #skills ul {
  margin: 5% auto;
  width: 60%;
  padding: 0;
  display: flex;
}
#cv #principal #skills ul li {
  margin: 1% 2%;
}
#cv #principal #skills ul li img {
  width: 50px;
  height: 50px;
}
#cv #principal #hobbies {
  grid-area: 5/1/6/4;
}
#cv #principal #hobbies ul {
  margin: 5% auto;
  width: 60%;
  padding: 0;
  display: flex;
}
#cv #principal #hobbies ul li {
  margin: 1% 2%;
}
#cv #principal #hobbies ul li i {
  font-size: 40px;
}
#cv #title {
  height: 60%;
  grid-area: 1/4/2/9;
  background-color: #c9a67e;
  border-radius: 0 0 15% 0;
}
#cv #title h1 {
  margin-top: 3%;
}
#cv #profile {
  grid-area: 2/4/3/9;
}
#cv #profile p {
  width: 90%;
  margin: 5% auto;
  text-align: justify;
}
#cv #profile h1 {
  margin-top: 2%;
  background-color: #c9a67e;
  border-radius: 0 15%;
}
#cv #education {
  grid-area: 3/4/4/9;
}
#cv #education h1 {
  background-color: #c9a67e;
  border-radius: 0 15%;
}
#cv #education ul {
  margin: 5% auto;
  width: 90%;
  padding: 0;
}
#cv #experience {
  grid-area: 4/4/5/9;
}
#cv #experience h1 {
  background-color: #c9a67e;
  border-radius: 0 15%;
}
#cv #experience ul {
  margin: 5% auto;
  width: 60%;
  padding: 0;
}
#cv #footer {
  background-color: #c9a67e;
  grid-area: 5/4/6/9;
  color: white;
  margin-top: 10%;
}

@media only screen and (max-width: 1055px) {
  #cv {
    grid-template-rows: repeat(10, 1fr);
  }
  #cv #title {
    grid-area: 1/1/2/9;
  }
  #cv #principal {
    grid-area: 2/1/7/9;
  }
  #cv #divphoto {
    grid-area: 2/1/3/9;
  }
  #cv #contact {
    grid-area: 3/1/4/9;
  }
  #cv #language {
    grid-area: 4/1/5/9;
  }
  #cv #skills {
    grid-area: 5/1/6/9;
  }
  #cv #hobbies {
    grid-area: 6/1/7/9;
  }
  #cv #profile {
    grid-area: 7/1/8/9;
  }
  #cv #education {
    grid-area: 8/1/9/9;
  }
  #cv #experience {
    grid-area: 9/1/10/9;
  }
  #cv #footer {
    grid-area: 10/1/11/9;
  }
}
/* 
    #principal{
        background-color: #293d3e;
        width: 30%;
        height: 150%; 
        position: absolute;
        z-index: 1;
        margin-left: 5%; 
    }
    #info{ 
        width: 100%;
        position: absolute;
        z-index: 0; 
    }

    @media only screen and (max-width:1000px){
    #principal{
        width:45%;
        margin-left: 2%;
    }
} */

/*# sourceMappingURL=style.css.map */
